<p>
  <b>Artist:</b>
  <%=h @displays_at.artist %>
</p>

<p>
  <b>Artist telephone:</b>
  <%=h @displays_at.artist_Telephone %>
</p>

<p>
  <b>Festival id:</b>
  <%=h @displays_at.festival_ID %>
</p>


<%= link_to 'Edit', edit_displays_at_path(@displays_at) %> |
<%= link_to 'Back', displays_ats_path %>