<h1>New plays_on</h1>

<% form_for(@plays_on) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :musician_Name %><br />
    <%= f.text_field :musician_Name %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.label :festival_ID %><br />
    <%= f.text_field :festival_ID %>
  </p>
  <p>
    <%= f.label :stage_ID %><br />
    <%= f.text_field :stage_ID %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', plays_ons_path %>