<h1>Listing musicians</h1>

<table>
  <tr>
    <th>Genre</th>
    <th>Performance fee</th>
    <th>Name</th>
    <th>Telephone</th>
  </tr>

<% @musicians.each do |musician| %>
  <tr>
    <td><%=h musician.genre %></td>
    <td><%=h musician.performance_Fee %></td>
    <td><%=h musician.name %></td>
    <td><%=h musician.telephone %></td>
    <td><%= link_to 'Show', musician %></td>
    <td><%= link_to 'Edit', edit_musician_path(musician) %></td>
    <td><%= link_to 'Destroy', musician, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New musician', new_musician_path %>