<h1>Listing vendors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Telephone</th>
    <th>License</th>
    <th>Credit type</th>
    <th>Credit number</th>
    <th>Category id</th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td><%=h vendor.name %></td>
    <td><%=h vendor.telephone %></td>
    <td><%=h vendor.license %></td>
    <td><%=h vendor.credit_Type %></td>
    <td><%=h vendor.credit_Number %></td>
    <td><%=h vendor.category_ID %></td>
    <td><%= link_to 'Show', vendor %></td>
    <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
    <td><%= link_to 'Destroy', vendor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vendor', new_vendor_path %>